@using Repository.Models.Menu;
@using FoodTruckCustomer.Controllers;

﻿@{
    Layout = "_Layout";
}

@model IEnumerable<Repository.Models.Menu.Order>

@{
    ViewData["Title"] = "Cart";
}

<h2>Shopping Cart</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Items</th>
            <th>Subtotal ($)</th>
            <th>Actions</th>
			<td></td> @*-- Empty cell for Delete -->*@
        </tr>
    </thead>
    @foreach (var order in Model)
    {
        <tbody>
            <tr>
                @foreach (var item in order.LineItems)
                {
                    <td>@item.lineItem_ID</td>
                }
                <td>
                    @foreach (var item in order.LineItems)
                    {
                        <ul>
                            <li>@item.Item.Name - Quantity: @item.Quantity - Price: $@(item.Item.Price * item.Quantity)</li>
                        </ul>
                    }
                </td>
                <td>@order.SubTotal.ToString("C")</td>
                @foreach (var item in order.LineItems)
                {
                    <td>
                        <form asp-action="AdjustCount" asp-controller="Cart" asp-route-lineItemId="@item.lineItem_ID" method="post">
                            <input type="hidden" name="orderId" value="@order.Order_ID" />
                            <label for="qty">Quantity:</label>
                            <input type="number" name="qty" min="-100" max="100" required />
                            <button type="submit"  class="float-left">[Adjust Item Count]</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="Delete" asp-controller="Cart" method="post" style="display:inline;" id="delete">
                            <input type="hidden" id="delete" name="lineItemId" value="@item.lineItem_ID" />
                            <button type="submit" class="btn btn-danger align-items-center align-items-lg-stretch" id="delete" onclick="Delete">Delete</button>
                        </form>
                    </td>
                } 
            </tr>
        </tbody>
    }
    <tfoot>
        <tr>
            <td colspan="2"><strong>Total:</strong></td>
            <td><strong>@Model.Sum(o => o.SubTotal).ToString("C")</strong></td>
            <td>
                <!-- Checkout Form -->
                <form asp-action="Checkout" asp-controller="Receipts" method="post">
                    @* <input type="hidden" name="orderId" value="@order.Order_ID" /> *@
                    <button type="submit" class="btn btn-primary">Checkout</button>
                </form>
            </td>
        </tr>
    </tfoot>
</table>

<form asp-action="TransferViewPost" method="post">
    <button type="submit">Return to Menu</button>
</form>

