@model IEnumerable<Repository.Models.Menu.Order>

@{
    ViewData["Title"] = "Cart";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
				@Html.DisplayNameFor(model => model.Price)
            </th>
			<th>
				@Html.DisplayNameFor(model => model.SubTotal)
            </th>
			<th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Item_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                <a asp-action="SingleAddAsync" asp-route-id="@item.Order_ID">Add</a> |
                <a asp-action="SingleSubtractAsync" asp-route-id="@item.Order_ID">Subtract</a> |
                <a asp-action="Delete" asp-route-id="@item.Order_ID">Delete</a>
            </td>
        </tr>
}
@*         <a asp-action="Checkout" asp-route-id="@item.Order_ID">Checkout</a> *@
    </tbody>
</table>
