@using Repository.Models.Menu;
@model Repository.Models.Menu.Receipt

@{
    ViewData["Title"] = "Checkout";
}

<h2>Receipt</h2>

<p><strong>Receipt ID:</strong> @Model.Receipt_ID</p>
<p><strong>Order ID:</strong> @Model.Order_ID</p>
<p><strong>Date:</strong> @Model.Date.ToString("f")</p>

@if (Model.Order != null && Model.Order.LineItems.Any())
{
    <h3>
        <strong>
            <bold>Order Details</bold>
        </strong>
    </h3>
    <table border="1">
        <thead>
            <tr>
                <th>
                    <strong>
                        Item Name
                    </strong>
                </th>
                <th>
                    <strong>
                        Quantity
                    </strong>
                </th>
                <th>
                    <strong>
                        Unit Price
                    </strong>
                </th>
                <th>
                    <strong>
                        Subtotal
                    </strong>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Order.LineItems)
            {
                <tr>
                    <td>@item.Item.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Item.Price.ToString("C")</td>
                    <td>
                        <bold>
                            <span>$</span>
                            @(item.Quantity * item.Item.Price)
                        </bold>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3>
        <strong>
            <bold>
                Total Price: @Model.TotalPrice.ToString("C")
            </bold>
         </strong>
    </h3>
}
else
{
    <p>No order details available.</p>
}

<form asp-action="Index" asp-controller="Home">
<button type="submit" >Return to Home</button></form>

