@using Repository.Models.Menu
@using FoodTruckCustomer.Controllers
﻿@{
    Layout = "_Layout";
}
@model IEnumerable<Repository.Models.Menu.Item>

@{
    ViewData["Title"] = "Menu";
}

<h1>Fungis Menu</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
				@Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPercentage).Insert(8, " ")
            </th>
			<th>
            </th>
        </tr>
    </thead>
    <tbody>
        
        @if (Model == null)
        {
            <tr>
                <td> @Html.Display("No items available")</td>
            </tr>
        }
        else
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Image))
                        {
                            <img src="~/menu/images/@item.Image" alt="@item.Name" style="width: 50px; height: 50px; object-fit: cover;" />
                        }
                        else
                        {
                            <span>No image</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Category)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountPercentage)%
                    </td>
                    <td>
                        <form asp-action="Create" asp-controller="Cart" method="post">
                            <input type="hidden" name="itemId" value="@item.Item_ID" />
                            <input type="number" name="Qty" min="1"/>
                            <button type="submit">Add to Cart</button>
                        </form>
                    </td>
                </tr>
            }
    </tbody>
</table>
<div>
    <a asp-controller="Cart" asp-action="Cart">Back to Cart</a>