@model IEnumerable<Repository.Models.Menu.Item>

@{
    ViewData["Title"] = "Items";
}

<h1>Items</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="col-md-6">
                    <form asp-action="Category" method="get" class="form-control">
                        @Html.DropDownList("Category", new SelectList(Model.Select(c => c.Category).Distinct()))
                        <input type="submit" value="Filter" class="btn btn-primary" />
                    </form>
                </div>
            </td>
        </tr>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Item_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Item_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Item_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
