@model IEnumerable<Repository.Models.Menu.Receipt>

@{
    ViewData["Title"] = "SalesReport";
}

<h1>Sales Report</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Receipt_ID).Split('_')[0]
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Order_ID).Split('_')[0]
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Sale
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Receipt_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
        </tr>
}
    </tbody>
</table>
